html {font-size: 62.5%; overflow: scroll;}
* {margin: 0; padding: 0;}
a {text-decoration: none;}
ul, li {list-style: none;}


@media all and (max-width: 750px) {
    html {font-size: 50%;}
}

#wrap {
    width: 100vw;
    height: 100%;
    position: relative;
}

/* header */

#header {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 200;
}

#menu {
    height: 100px;
    float: right;
    margin-right: 5vw;
}

#menu div.btn {
    display: inline-block;
    height: 100px;
    margin: 0 20px;
    vertical-align: middle;
}

#menu div.btn a {
    font-family: noto-sans-cjk-kr,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
}

/* indicator */

#indicator {
    color: #000;
}

.page-indicator {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 100;
    font-size: 2vw;
    text-align: center;
}

.page-indicator > div > div {
    margin: 1vh 0;
}

.page-indicator > div > div  p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

html[data-current-page-index="0"] .page-indicator {
    transform:translateY(0);
}

/* section */

.section1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
}

.section2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 350vh;
}

.section3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    overflow: hidden;
}

.section4 {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* section_1 */

#section_1 {
    background: #fff;
    overflow: hidden;
}

.content1_1 {
    color: #000;
    position: absolute;
    font-size: 4vw;
    top: 10vh;
    left: 5vw;
    opacity: 0;
}

.content1_1 span {
    color: rgb(143, 1, 1);
}

.content1_2 {
    color: #000;
    position: absolute;
    font-size: 2vw;
    top: 10vh;
    right: 5vw;
}

.content1_3 {
    color: #000;
    position: absolute;
    font-size: 5vw;
    top: 70vh;
    left: 5vw;
    opacity: 0;
}

.content1_4 {
    color: rgb(143, 1, 1);
    position: absolute;
    font-size: 25vw;
    top: 40vh;
    right: 10%;
    opacity: 0;
}


/* section_2 */

#section_2 {
    background:#fff;
}

.pin_box {
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.move_box {
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.move_box .move_text {
    font-size: 10vw;
    font-weight: bold;
    position: absolute;
    left: 100%;
}

.pin_box .maintext {
    width: 100%;
    font-size: 2vw;
    color: #000;
    text-align: center;
    line-height: 3;
    opacity: 0;
    position: absolute;
    top: -45vh;
    left: 50%;
    transform: translateX(-50%);
}

.pin_box .suptext {
    width: 100%;
    font-size: 2vw;
    color: #000;
    text-align: center;
    line-height: 2;
    opacity: 0;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);

}

.circle_box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 200vh;
}

.content2_1 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    background: #fff;
    font-size: 2vw;
    text-align: center;
    display: inline-block;
    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    z-index: 100;
    box-shadow: 2px 2px 5px #000;
}

.content2_2 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 6vw;
    height: 6vw;
    line-height: 6vw;
    box-shadow: 2px 2px 5px #000;
}

.content2_3 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 6vw;
    height: 6vw;
    line-height: 6vw;
    box-shadow: 2px 2px 5px #000;
}

.content2_4 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 6vw;
    height: 6vw;
    line-height: 6vw;
    box-shadow: 2px 2px 5px #000;
}

.content2_5 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    box-shadow: 2px 2px 5px #000;
}

.content2_6 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    box-shadow: 2px 2px 5px #000;
}

.content2_7 {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 1vw;
    text-align: center;
    display: inline-block;
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    box-shadow: 2px 2px 5px #000;
}

.liiust1 {
    width: 10vw;
    height: 10vw;
    background: rgb(143, 1, 1);
    border-radius: 50vw;
    position: absolute;
    top: 200%;
    left: 20%;
    opacity: 0.9;
    scale: 1;
}

.liiust2 {
    width: 10vw;
    height: 10vw;
    background: rgb(245, 144, 144);
    border-radius: 50vw;
    position: absolute;
    top: 100%;
    left: 70%;
}

/* section_3 */

#section_3 {
    background:#000;
}

.content3_1 {
    position: absolute;
    top: 20vh;
    left: 5%;
    color: #fff;
    font-size: 5vw;
    transform: scale(300000%);
    z-index: 1;
}

.content3_2 {
    position: absolute;
    top: -10%;
    left: 5%;
    width: 100%;
    justify-content: center;
    opacity: 0;
}

.content3_2 .box {
    justify-content: center;
    display: inline-block;
}

.box div.chart {
    margin: 0 40px;
    position: relative;
    display: inline-block;
}

.box div.chart h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.box div.chart svg {
    width: 220px;
    height: 220px;
}

.box div.chart svg circle {
    fill: #fff;
    stroke-width: 20;
    stroke-dasharray: 628;
    stroke-dashoffset: 628;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s;
}

.box:nth-child(1) div.chart svg circle {
    stroke: rgb(143, 1, 1);
}

.box:nth-child(2) div.chart svg circle {
    stroke: blue;
}

.box:nth-child(3) div.chart svg circle {
    stroke: darkviolet;
}

.box h1 {
    color: #fff;
    text-align: left;
    padding: 2vh 3vw;
}

.content3_3 {
    color: #fff;
    font-size: 2vw;
    line-height: 2;
    position: absolute;
    top: -10%;
    left: 60%;
    opacity: 0;
}

/* section_4 */

#section_4 {
    background: #fff;
}

#section_4 .content4_1 {
    position: absolute;
    top: 10%;
    left: 20%;
    opacity: 0;
}

#section_4 .content4_2 {
    position: absolute;
    top: 50%;
    left: 20%;
    opacity: 0;
}

#section_4 .content4_3 {
    position: absolute;
    top: 30%;
    left: 60%;
    opacity: 0;
}

#section_4 .content4_4 {
    position: absolute;
    top: 70%;
    left: 60%;
    opacity: 0;
}

#section_4 div {
    display: inline-block;
}

#section_4 div h2 {
    font-size: 3vw;
}

#section_4 div h1 {
    font-size: 1vw;
}